<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<style>
			.mui-tab-item {
				width: 50px!important;
			}
			
			.mui-content img {
				width: 100%;
			}
			
			.line {
				width: 100%;
				height: 1px;
				margin-top: 10px;
				margin-bottom: 10px;
				background: gainsboro;
			}
			
			.line2{
				width: 100%;
				height: 1px;
				background: gainsboro;
			}
			
			.img-juxing {
				max-width: 5px;
				height: 15px;
				margin-right: 10px;
				margin-top: 5px;
			}
			
			.mui-row {
				background: white!important;
				margin-top: 10px;
				padding: 10px;
			}
			
			#arrange {
				width: 150px;
				height: 40px;
				background: url(images/bg_red_bt.png) no-repeat;
				background-size: contain;
				color: white;
				border: none;
				margin-right: 20px;
			}
			.mui-card {
				margin: 10px 10px;
			}
			.mui-content{
				padding-bottom: 50px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">服务</h1>
			<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right">
				<img id='noticeImg' src="images/分享(2).png" />
			</button>
		</header>
		<div class="mui-content">
			<div>
				<img id="good_img"/>
			</div>
			<div class="mui-row">
				<div id="good_name">
				</div>
				<span id="good_intro" style="color: darkgrey;"></span>
			</div>
			<!--<div class="mui-row" >
				
			</div>
			<div class="mui-row" id="youhuiquan"></div>-->
			<div class="mui-row">
				<div><img src="images/矩形20.png" class="img-juxing" />服务价格</div>
				<div class="line"></div>
				<div id="price"></div>
			</div>
			<div class="mui-row">
				<div><img src="images/矩形20.png" class="img-juxing" />服务介绍</div>
				<div class="line"></div>
				<div id="info"></div>
			</div>

			<div class="mui-row">
				<div><img src="images/矩形20.png" class="img-juxing" />用户评论</div>
				<div class="line"></div>
				<div id="mui-template2">
					<script type="text/template" id="temp2">
					<% for(var i in record){ var item=record[i]; %>
						
						<div class="mui-row">
					<div class="mui-pull-left">
						<img src="<%=item.mbi_photo_thum%>"/>
					</div>
					<!--<div class="mui-pull-right">-->
						<div></div>
						<div><%=item.jzc_content%></div>
					<!--</div>-->
					</div>
					<div class="line2"></div>
					<%}%>
					</script>
				</div>
			</div>
			<div class="mui-row">
				<div><img src="images/矩形20.png" class="img-juxing" />推荐</div>
				<div class="line"></div>
				<div class="mui-row" id="mui-template">
						<script type="text/template" id="temp">
							<% for(var i in record){ var item=record[i]; %>
							<div class="mui-col-sm-6 mui-col-xs-6">
								<div class="mui-card">
									<div class="mui-card-content">
										<img id="<%=item.jg_id%>" src="<%=item.jg_img%>" style="max-height: 100px;" />
									</div>
									<div class="mui-card-footer">
										<%=item.jg_name%>
									</div>
									<div class="mui-card-footer">
										<h5><%=item.jg_intro%></h5>
									</div>
								</div>
							</div>
							<%}%>
						</script>
						<!--<div class="mui-col-sm-6">
						<div class="mui-card">
							<div class="mui-card-content"><img src="images/矩形30拷贝2.png" /></div>
							<div class="mui-card-footer">专业家电维修，各种热水器维修</div>
						</div>
					</div>-->
					</div>
				</div>

		</div>
		</div>
		<div class="mui-content-padded">
			<nav class="mui-bar mui-bar-tab">
				<a class="mui-tab-item" id="shopInfo">
					<span class="iconstyle mui-icon ">
							<img src="images/商家.png" />
						</span>
					<span class="mui-tab-label">商家</span>
				</a>
				<a class="mui-tab-item" id="collect">
					<span class="iconstyle mui-icon ">
							<img src="images/收藏1.png" id="collectImg"/>
						</span>
					<span class="mui-tab-label">收藏</span>
				</a>
				<span id="start_price" style="line-height: 58px; color: red;"> </span>
				<button type="button" class="mui-btn mui-pull-right" id="arrange">立即预约</button>
			</nav>
		</div>
		</div>
		<script src="js/mui.min.js"></script>
		<script src="js/app.js"></script>
		<script type="text/javascript" src="js/xiachenshi.js"></script>
		<script type="text/javascript" src="js/arttmpl.js" ></script>
		<script type="text/javascript">
			var isCollect = 1;
			mui.plusReady(function() {
				var loginData = JSON.parse(localStorage.getItem('login'));
				if(!loginData) {
					return;
				}
				var mbi_id = loginData.data.info.mbi_id;
				var self = plus.webview.currentWebview();
				var good_id = self.good_id;
				if(good_id) {
					setTimeout(function() {
						getGoodInfo(good_id, mbi_id);
						getCommentList(good_id);
					}, 200);
				}
			})
			
			function getCommentList(good_id){
				var commentParam = {
					service: 'Hlbr365app.Goods.GetCommentList',
					jg_id: good_id,
					firstRow: 1,
					listRows: 20
				}
				wAjax(commentParam, function(result){
					var clist = result.data.list;
					var str = template('temp2', {
									"record": clist
								});
								document.getElementById("mui-template2").innerHTML = str;
				})
			}
			
			function getSameGoods(good_id, type_id){
				var sameGoodsParam = {
					service: 'Hlbr365app.Goods.GetSameServiceList',
					jg_id: good_id,
					two_type_id: type_id,
					city_id: 150702,
					firstRow: 1,
					listRows: 20
				}
				wAjax(sameGoodsParam, function(result){
					var goodsList =  result.data.list;
					var str = template('temp', {
							'record': goodsList
						});
					document.getElementById('mui-template').innerHTML = str;
				})
			}

			function getGoodInfo(good_id, mbi_id) {
				
				var collectImg = document.getElementById('collectImg');
				document.getElementById('collect').addEventListener('tap', function() {
					collectGood(mbi_id, good_id);
				})

				document.getElementById('arrange').addEventListener('tap', function() {
					mui.openWindow({
						url: 'order_confirm.html',
						id: 'order_confirm.html',
						extras: {
							good_id: good_id
						}
					});
				})
				
				var getGoodParam = {
					service: 'Hlbr365app.Goods.GetGoodsInfo',
					jg_id: good_id
				}
				wAjax(getGoodParam, function(result) {
					var info = result.data.info;
					document.getElementById('good_img').src = info.jg_img || 'images/ic_bg_normal.png';
					document.getElementById('good_name').innerHTML = info.jg_name;
					document.getElementById('good_intro').innerHTML = info.jg_intro;
					document.getElementById('price').innerHTML = info.jg_price;
					document.getElementById('start_price').innerHTML = info.jg_price_start;
					isCollect = info.isCollect;
					var type_id = info.two_type_id;
					getSameGoods(good_id, type_id);
					
					document.getElementById('shopInfo').addEventListener('tap', function(){
					mui.openWindow({
						url: 'shop_info.html',
						id: 'shop_info.html',
						extras: {
							shop_id: info.jci_id
						}
					})
				})

					if(isCollect == 1) {
						collectImg.src = "images/收藏2.png";
					} else if(isCollect == 2) {
						collectImg.src = "images/收藏1.png";
					}
					// 实体字符转换
					var ele = document.createElement('div');
					ele.innerHTML = info.jg_content;
					document.getElementById('info').innerHTML = ele.innerText;
				})
			}

			function collectGood(mbi_id, good_id) {
				var action = (isCollect == 1) ? 2 : 1;
				var collectParam = {
					service: 'Hlbr365app.Goods.SetCollect',
					mbi_id: mbi_id,
					jc_type: 1,
					jc_wid: good_id,
					action: action
				};
				wAjax(collectParam, function(result) {
					if(action == 1) {
						collectImg.src = "images/收藏2.png";
						isCollect = 1;
					} else if(action == 2) {
						collectImg.src = "images/收藏1.png";
						isCollect = 2;
					}
					//					isCollect = !isCollect;
				})
			}
			
			mui("#mui-template").on('tap', 'img', function(e) {
					var id = this.getAttribute("id");
					getGoodInfo(id);
//					mui.refresh();
//					plus.webview.currentWebview().reload();
					
//					mui.openWindow({
//						url: 'goods_info.html',
//						id: 'goods_info.html',
//						extras: {
//							good_id: id
//						}
//					});
				});
		</script>
	</body>

</html>