<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
	</body>
</html>


	<div class="mui-slider-group mui-scroll-wrapper" id="pullrefresh">
				<div id="item1" class="mui-slider-item mui-control-content mui-scroll mui-active">
					<!--<div id="scroll" class="mui-scroll-wrapper">-->
						<div  id="mui-template">
							<script type="text/template" id="temp">
								<% for(var i in record){ var item=record[i]; %>
								<div class="mui-content" id="<%=item.ob_id%>">
									<div>
										<img src="images/img24.png" />
										<span id="shijian"><%=item.company_name%></span>
										<% if(item.ob_status==6 || item.ob_status == 7){%>
										<div class="mui-pull-right status">待评价</div>
										<%} else if(item.ob_status==5){%>
										<div class="mui-pull-right status">待付款</div>
										<%} else if(item.ob_status==14 || item.ob_status==8){%>
										<div class="mui-pull-right status">已完成</div>
										<%} else if(item.ob_status==1 || item.ob_status==2){%>
										<div class="mui-pull-right status">待服务</div>
										<%} else if(item.ob_status==12 || item.ob_status==13){%>
										<div class="mui-pull-right status">已取消</div>
										<%}%>
									</div>
									<div class="line"></div>
									<div class="mui-row">
										<%=item.goods.og_goods_name%>
									</div>
									<div class="mui-row">
										预约时间:
										<%=item.user_predict_work_time%>
									</div>
									<div class="mui-row">下单时间:
										<%=item.ob_time%>
									</div>

									<div class="mui-row">
										<%=item.user_contacts_name%>&nbsp;&nbsp;
										<%=item.user_contacts_phone%>
									</div>
									<div class="mui-row">备注:
										<%=item.ob_remark%>
									</div>
									<% if(item.ob_status==1 || item.ob_status == 2){%>
									<div class="mui-row">
										<button class="mui-btn mui-btn-outlined mui-pull-right" id="cancel">取消订单</button>
									</div>
									<%}%>
									<% if(item.ob_status==6 || item.ob_status == 7){%>
									<div class="mui-row">
										<button class="mui-btn mui-btn-outlined mui-pull-right" id="comment">去评价</button>
									</div>
									<%}%>
									<% if(item.ob_status==5){%>
									<div class="mui-row">
										<button class="mui-btn mui-btn-outlined mui-pull-right" id="pay">去支付</button>
									</div>
									<%}%>
									<div class="line"></div>
								</div>
								<%}%>

							</script>

						</div>
						<div id="item1_1_null" class="display-none">
							<div class="mui-content-padded " id="nocontent">
								<img src="images/img34.png" />
								<p>暂无内容</p>
							</div>
						</div>
					<!--</div>-->
				</div>

				<div id="item2" class="mui-slider-item mui-control-content mui-scroll">
					<!--<div id="scroll" class="mui-scroll-wrapper">-->
						<div id="mui-template2">
							<script type="text/template2" id="temp2">
								<% for(var i in record){ var item=record[i]; %>
								<% if(item.ob_status==1 || item.ob_status == 2){%>
								<div class="mui-content" id="<%=item.ob_id%>">
									<div>
										<img src="images/img24.png" />
										<span id="shijian"><%=item.company_name%></span>
										<% if(item.ob_status==6 || item.ob_status == 7){%>
										<div class="mui-pull-right status">待评价</div>
										<%} else if(item.ob_status==5){%>
										<div class="mui-pull-right status">待付款</div>
										<%} else if(item.ob_status==14 || item.ob_status==8){%>
										<div class="mui-pull-right status">已完成</div>
										<%} else if(item.ob_status==1 || item.ob_status==2){%>
										<div class="mui-pull-right status">待服务</div>
										<%} else if(item.ob_status==12 || item.ob_status==13){%>
										<div class="mui-pull-right status">已取消</div>
										<%}%>
									</div>
									<div class="line"></div>
									<div class="mui-row">
										<%=item.goods.og_goods_name%>
									</div>
									<div class="mui-row">
										预约时间:
										<%=item.user_predict_work_time%>
									</div>
									<div class="mui-row">下单时间:
										<%=item.ob_time%>
									</div>

									<div class="mui-row">
										<%=item.user_contacts_name%>&nbsp;&nbsp;
										<%=item.user_contacts_phone%>
									</div>
									<div class="mui-row">备注:
										<%=item.ob_remark%>
									</div>
									<% if(item.ob_status==1 || item.ob_status == 2){%>
									<div class="mui-row">
										<button class="mui-btn mui-btn-outlined mui-pull-right" id="cancel">取消订单</button>
									</div>
									<%}%>
									<% if(item.ob_status==6 || item.ob_status == 7){%>
									<div class="mui-row">
										<button class="mui-btn mui-btn-outlined mui-pull-right" id="comment">去评价</button>
									</div>
									<%}%>
									<% if(item.ob_status==5){%>
									<div class="mui-row">
										<button class="mui-btn mui-btn-outlined mui-pull-right" id="pay">去支付</button>
									</div>
									<%}%>
									<div class="line"></div>
								</div>
								<%}%>
								<%}%>
							</script>

						</div>
						
						<div id="item1_2_null" class="display-none">
							<div class="mui-content-padded nocontent">
								<img src="images/img34.png" />
								<p>暂无内容</p>
							</div>
						</div>
						<!--<div id="item1_2_null" class="display-none">
							<div class="mui-content-padded " style="text-align:center;padding-top:1.8rem;">
								<div><img src="images/img34.png" /></div>
								<p>暂无内容</p>
							</div>
						</div>-->
				</div>

				<div id="item3" class="mui-slider-item mui-control-content mui-scroll">
					<!--<div id="scroll" class="mui-scroll-wrapper">-->
						<div class=" item1_1" id="mui-template3">
							<script type="text/template" id="temp3">
								<% for(var i in record){ var item=record[i]; %>
								<% if(item.ob_status==5){%>
								<div class="mui-content" id="<%=item.ob_id%>">
									<div>
										<img src="images/img24.png" />
										<span id="shijian"><%=item.company_name%></span>
										<% if(item.ob_status==6 || item.ob_status == 7){%>
										<div class="mui-pull-right status">待评价</div>
										<%} else if(item.ob_status==5){%>
										<div class="mui-pull-right status">待付款</div>
										<%} else if(item.ob_status==14 || item.ob_status==8){%>
										<div class="mui-pull-right status">已完成</div>
										<%} else if(item.ob_status==1 || item.ob_status==2){%>
										<div class="mui-pull-right status">待服务</div>
										<%} else if(item.ob_status==12 || item.ob_status==13){%>
										<div class="mui-pull-right status">已取消</div>
										<%}%>
									</div>
									<div class="line"></div>
									<div class="mui-row">
										<%=item.goods.og_goods_name%>
									</div>
									<div class="mui-row">
										预约时间:
										<%=item.user_predict_work_time%>
									</div>
									<div class="mui-row">下单时间:
										<%=item.ob_time%>
									</div>

									<div class="mui-row">
										<%=item.user_contacts_name%>&nbsp;&nbsp;
										<%=item.user_contacts_phone%>
									</div>
									<div class="mui-row">备注:
										<%=item.ob_remark%>
									</div>
									<% if(item.ob_status==1 || item.ob_status == 2){%>
									<div class="mui-row">
										<button class="mui-btn mui-btn-outlined mui-pull-right" id="cancel">取消订单</button>
									</div>
									<%}%>
									<% if(item.ob_status==6 || item.ob_status == 7){%>
									<div class="mui-row">
										<button class="mui-btn mui-btn-outlined mui-pull-right" id="comment">去评价</button>
									</div>
									<%}%>
									<% if(item.ob_status==5){%>
									<div class="mui-row">
										<button class="mui-btn mui-btn-outlined mui-pull-right" id="pay">去支付</button>
									</div>
									<%}%>
									<div class="line"></div>
								</div>
								<%}%>
								<%}%>
							</script>

						</div>

						<div id="item1_3_null" class="display-none">
							<div class="mui-content-padded nocontent">
								<img src="images/img34.png" />
								<p>暂无内容</p>
							</div>
						</div>
				</div>

				<div id="item4" class="mui-slider-item mui-control-content mui-scroll">
					<!--<div id="scroll" class="mui-scroll-wrapper">-->
						<div class=" item1_1" id="mui-template4">
							<script type="text/template" id="temp4">
								<% for(var i in record){ var item=record[i]; %>
								<% if(item.ob_status==6 || item.ob_status==7){%>
								<div class="mui-content" id="<%=item.ob_id%>">
									<div>
										<img src="images/img24.png" />
										<span id="shijian"><%=item.company_name%></span>
										<% if(item.ob_status==6 || item.ob_status == 7){%>
										<div class="mui-pull-right status">待评价</div>
										<%} else if(item.ob_status==5){%>
										<div class="mui-pull-right status">待付款</div>
										<%} else if(item.ob_status==14 || item.ob_status==8){%>
										<div class="mui-pull-right status">已完成</div>
										<%} else if(item.ob_status==1 || item.ob_status==2){%>
										<div class="mui-pull-right status">待服务</div>
										<%} else if(item.ob_status==12 || item.ob_status==13){%>
										<div class="mui-pull-right status">已取消</div>
										<%}%>
									</div>
									<div class="line"></div>
									<div class="mui-row">
										<%=item.goods.og_goods_name%>
									</div>
									<div class="mui-row">
										预约时间:
										<%=item.user_predict_work_time%>
									</div>
									<div class="mui-row">下单时间:
										<%=item.ob_time%>
									</div>

									<div class="mui-row">
										<%=item.user_contacts_name%>&nbsp;&nbsp;
										<%=item.user_contacts_phone%>
									</div>
									<div class="mui-row">备注:
										<%=item.ob_remark%>
									</div>
									<% if(item.ob_status==1 || item.ob_status == 2){%>
									<div class="mui-row">
										<button class="mui-btn mui-btn-outlined mui-pull-right" id="cancel">取消订单</button>
									</div>
									<%}%>
									<% if(item.ob_status==6 || item.ob_status == 7){%>
									<div class="mui-row">
										<button class="mui-btn mui-btn-outlined mui-pull-right" id="comment">去评价</button>
									</div>
									<%}%>
									<% if(item.ob_status==5){%>
									<div class="mui-row">
										<button class="mui-btn mui-btn-outlined mui-pull-right" id="pay">去支付</button>
									</div>
									<%}%>
									<div class="line"></div>
								</div>
								<%}%>
								<%}%>
							</script>

						</div>

						<div id="item1_4_null" class="display-none">
							<div class="mui-content-padded nocontent">
								<img src="images/img34.png" />
								<p>暂无内容</p>
							</div>
						</div>

				</div>
			</div>
	