<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<style>
			.mui-row {
				height: 55px;
				background: white;
			}
			
			.mui-text-center {
				line-height: 50px;
			}
			
			.fengeline {
				float: right;
				color: #F2F2F2;
			}
			
			.service-li {
				list-style-position: inside;
				height: 130px;
				/*border-bottom: 3px solid #F2F2F2;*/
			}
			
			.img_left {
				line-height: 100px!important;
				max-width: 100px!important;
				height: 100px!important;
			}
			
			.mui-btn-block {
				border: hidden;
				background: white;
				border-radius: 0px;
			}
			
			.list-down-img {
				width: 8px;
				height: 5px;
				margin-bottom: 3px;
				margin-left: 5px;
			}
			
			#mui-template .mui-table-view-cell:before {
				height: 0px;
			}
			
			#mui-template .mui-table-view-cell:after {
				height: 10px;
				width: 100%;
				left: 0px;
				background-color: #F2F2F2;
			}
			
			.mui-table-view:before {
				height: 1px;
			}
			.mui-media-body img{
				width: 100%;
				height: 120px;
				background-size: cover;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">服务</h1>
		</header>
		<div class="mui-content">
			<div class="mui-row" id="firstrow">
				<div class="mui-col-sm-4 mui-col-xs-4 mui-text-center" id="city_name">
					<a href="#popover" id="openPopover" class="mui-btn mui-btn-block">海拉尔
						<img src="images/img18.png" class="list-down-img" />
						<span class="fengeline">|</span>
					</a>
				</div>
				<!--<div class="mui-text-center fengeline">|</div>-->
				<div class="mui-col-sm-4 mui-col-xs-4 mui-text-center" id="service_name">
					<a href="#popover2" id="openPopove2r" class="mui-btn mui-btn-block">家庭保洁
						<img src="images/img18.png" class="list-down-img" />
						<span class="fengeline">|</span>
					</a>
				</div>
				<div class="mui-col-sm-4 mui-col-xs-4 mui-text-center">
					<a class="mui-btn mui-btn-block" id="shopOrgood">店铺</a>

				</div>
			</div>
			<div id="popover" class="mui-popover">
				<ul class="mui-table-view" id="mui-template11">
					<script type="text/template" id="temp3">
						<% for(var i in record){ var item=record[i]; %>
						<li class="mui-table-view-cell">
							<a href="#" id="<%=item.id%>">
								<%=item.name%>
							</a>
						</li>
						<%}%>
					</script>
				</ul>
			</div>
			<div id="popover2" class="mui-popover">
				<ul class="mui-table-view" id="mui-template2">
					<script type="text/template" id="temp2">
						<% for(var i in record){ var item=record[i]; %>
						<li class="mui-table-view-cell">
							<a href="#" id="<%=item.si_id%>">
								<%=item.si_name%>
							</a>
						</li>
						<%}%>
					</script>
				</ul>
			</div>
			<div>
				<ul class="mui-table-view" id="mui-template">
					<script type="text/template" id="temp">
						<% for(var i in record){ var item=record[i]; %>
						<li class="mui-table-view-cell mui-media service-li">
							<% if(item.isGoods == 1 || !item.isGoods){%>
							<a href="javascript:;" id="<%=item.jg_id || item.jci_id%>">
								<img class="mui-media-object mui-pull-left img_left" src="<%=item.jg_img || item.jci_logo%>">
								<div class="mui-media-body">
									<%=item.jg_name || item.jci_name%>
									<p class='mui-ellipsis'>
										<%=item.jg_intro || item.jci_intro%>
									</p>
									<p class="mui-ellipsis">
										_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
									</p>
									<p class="mui-ellipsis">
										<%=item.jci_name%>
									</p>
								</div>
							</a>
							<%} else if(item.isGoods == 2 && item.Ad){%>
							<a href="javascript:;" id="<%=item.Ad.ar_id%>" name="isGood" style="padding: 0;">
								<div class="mui-media-body">
									<img src="<%=item.Ad.ar_img%>">
								</div>
							</a>
							<%}%>
						</li>
						<%}%>
					</script>
				</ul>
			</div>
		</div>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/arttmpl.js"></script>
		<script type="text/javascript" src="js/xiachenshi.js"></script>
		<script type="text/javascript">
			var country_id = '150702';
			var type_id = 1;
			var name = '';
			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				self.show('slide-in-right', 200);
				plus.nativeUI.closeWaiting();
				getConutryList();
				if(self.type_id && self.first_id && self.name) {
					document.getElementById('openPopove2r').innerHTML = self.name + '<img src="images/img18.png" class="list-down-img"/><span class="fengeline">|</span>';
					type_id = self.type_id;
					getGoodsList();
					getSecondTypeList(self.first_id);
				}
				if(self.input) {
					console.log(self.input);
					name = self.input;
					document.getElementById('firstrow').hidden = "true";
					getGoodsList();
				}

				var shopOrgood = document.getElementById('shopOrgood');
				shopOrgood.addEventListener('tap', function() {
					if(shopOrgood.innerHTML == '店铺') {
						getShopList();
						shopOrgood.innerHTML = '服务';
					} else if(shopOrgood.innerHTML == '服务') {
						getGoodsList();
						shopOrgood.innerHTML = '店铺';
					}
				})

			})

			mui("#mui-template").on('tap', 'a', function(e) {
				var id = this.getAttribute("id");
				var name = this.getAttribute('name');
				if(name == 'isGood') {
					mui.openWindow({
						url: 'ad_info.html',
						id: 'ad_info.html',
						extras: {
							ar_id: id
						} //自定义扩展参数
					});
				} else {
					mui.openWindow({
						url: 'goods_info.html',
						id: 'goods_info.html',
						extras: {
							good_id: id
						}, //自定义扩展参数
						show: {
							autoShow: false, //页面loaded事件发生后自动显示，默认为true
							event: 'loaded' //页面显示时机，默认为titleUpdate事件时显示
						}
					});
				}
			});

			mui("#mui-template2").on('tap', 'a', function(e) {
				var id = this.getAttribute("id");
				type_id = id;
				getGoodsList();
				document.getElementById('openPopove2r').innerHTML = this.innerHTML + '<img src="images/img18.png" class="list-down-img"/><span class="fengeline">|</span>';
				mui('#popover2').popover('hide');

			});

			mui("#mui-template11").on('tap', 'a', function(e) {
				var id = this.getAttribute("id");
				//				for(var i = 0; i < typeList.length; i++) {
				//					if(typeList[i].si_id == id) {
				//						document.getElementById('firstTypeIcon').src = typeList[i].si_icon;
				//						document.getElementById('firstTypeName').innerHTML = typeList[i].si_name;
				//					}
				//				}
				country_id = id;
				getGoodsList();
				document.getElementById('openPopover').innerHTML = this.innerHTML + '<img src="images/img18.png" class="list-down-img"/><span class="fengeline">|</span>';
				mui('#popover').popover('hide');

			});

			function getGoodsList() {
				//				var goodsListWithInfo = [];
				var goodsParam = {
					service: 'Hlbr365app.Goods.GetServiceList',
					firstRow: 1,
					listRows: 20
				}
				if(name != '') {
					7
					goodsParam.name = name;
				} else {
					goodsParam.two_type_id = type_id;
					goodsParam.city_id = country_id;
				}
				wAjax(goodsParam, function(result) {
					var goodsList = result.data.list;

					var str = template('temp', {
						'record': goodsList
					});
					document.getElementById("mui-template").innerHTML = str;

				})
			}

			function getShopList() {
				var shopListParam = {
					service: 'Hlbr365app.Goods.GetCompanyList',
					two_type_id: type_id,
					city_id: country_id,
					firstRow: 1,
					listRows: 20
				}
				wAjax(shopListParam, function(result) {

					var shopList = result.data.list;

					var str = template('temp', {
						'record': shopList
					});
					document.getElementById("mui-template").innerHTML = str;
				})
			}

			function getGoodsInfo(goodsId) {
				var infoParam = {
					service: 'Hlbr365app.Goods.GetGoodsInfo',
					jg_id: goodsId
				}
				wAjax(infoParam, function(result) {
					var goodsInfo = result.data.info;
					return goodsInfo;
				})
			}

			function getSecondTypeList(firtTypeId) {
				var secTypeListParam = {
					service: 'Hlbr365app.Goods.GetTwoListByOne',
					si_id: firtTypeId,
					city_id: '150702'
				}
				wAjax(secTypeListParam, function(result) {
					var sceTypeList = result.data.info.service;
					var str = template('temp2', {
						'record': sceTypeList
					});
					document.getElementById("mui-template2").innerHTML = str;

				})
			}

			function getConutryList() {
				var getCountryParam = {
					service: 'App.PublicClass.Country',
					id: 150700
				}
				wAjax(getCountryParam, function(result) {
					var countryList = result.data.list;
					var str = template('temp3', {
						'record': countryList
					});
					document.getElementById("mui-template11").innerHTML = str;
				})
			}
		</script>
	</body>

</html>