<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<style>
			.mui-tab-item {
				width: 50px!important;
			}
			
			.mui-content img {
				width: 100%;
			}
			
			.line {
				width: 100%;
				height: 1px;
				margin-top: 10px;
				margin-bottom: 10px;
				background: #F2F2F2;
			}
			
			.img-juxing {
				max-width: 5px;
				height: 15px;
				margin-right: 10px;
				margin-top: 5px;
			}
			
			.mui-row {
				background: white!important;
				margin-bottom: 10px;
				padding: 10px;
			}
			
			#arrange {
				width: 150px;
				height: 40px;
				background: url(images/img11.png) no-repeat;
				background-size: contain;
				color: white;
				border: none;
				margin-right: 20px;
			}
			.img_left {
				line-height: 100px!important;
				max-width: 100px!important;
				height: 100px!important;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">企业详情</h1>
			<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right">
				<img id='noticeImg' src="images/img49.png" />
			</button>
		</header>
		<div class="mui-content">
			<div class="mui-content">
				<img id="good_img" />
			</div>
			<div class="mui-row">
				<div id="good_name">
				</div>
			</div>
			<!--<div class="mui-row" >
				
			</div>
			<div class="mui-row" id="youhuiquan"></div>-->
			<div class="mui-row">
				<div><img src="images/img84.png" class="img-juxing" />服务流程</div>
				<div class="line"></div>
				<div>
					<img  src="images/img9.png"/>
				</div>
			</div>
			<div class="mui-row">
				<div><img src="images/img84.png" class="img-juxing" />企业介绍</div>
				<div class="line"></div>
				<div id="intro"></div>
			</div>
			<div class="mui-row">
				<div><img src="images/img84.png" class="img-juxing" />服务项目</div>
				<div class="line"></div>
				<div>
				<ul class="mui-table-view" id="mui-template">
					<script type="text/template" id="temp">
						<% for(var i in record){ var item=record[i]; %>
						<li class="mui-table-view-cell mui-media service-li">
							<% if(item.isGoods == 1 || !item.isGoods){%>
							<a href="javascript:;" id="<%=item.jg_id || item.jci_id%>">
								<img class="mui-media-object mui-pull-left img_left" src="<%=item.jg_img || item.jci_logo%>">
								<div class="mui-media-body">
									<%=item.jg_name || item.jci_name%>
									<p class='mui-ellipsis'>
										<%=item.jg_intro || item.jci_intro%>
									</p>
									<p class="mui-ellipsis">
									_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
								</p>
								<p class="mui-ellipsis">
									 <%=item.jci_name%>
								</p>
								</div>
							</a>
							<%} else if(item.isGoods == 2 && item.Ad){%>
							<a href="javascript:;" id="<%=item.Ad.ar_id%>" name="isGood">
								<div class="mui-media-body">
									<img style="width: 100%;" src="<%=item.Ad.ar_img%>">
								</div>
							</a>
							<%}%>
						</li>
						<%}%>
					</script>
				</ul>
			</div>
				<!--<div id="info"></div>-->
			</div>
		</div>
		</div>
		<div class="mui-content-padded mui-hidden">
			<nav class="mui-bar mui-bar-tab">
				<a class="mui-tab-item">
					<span class="iconstyle mui-icon ">
							<img src="images/img53.png" />
						</span>
					<span class="mui-tab-label">商家</span>
				</a>
				<a class="mui-tab-item" id="collect">
					<span class="iconstyle mui-icon ">
							<img src="images/img74.png" id="collectImg"/>
						</span>
					<span class="mui-tab-label">收藏</span>
				</a>
				<span id="start_price" style="line-height: 58px; color: red;"> </span>
				<button type="button" class="mui-btn mui-pull-right" id="arrange">立即预约</button>
			</nav>
		</div>
		</div>
		<script src="js/mui.min.js"></script>
		<script src="js/app.js"></script>
		<script type="text/javascript" src="js/xiachenshi.js"></script>
		<script type="text/javascript" src="js/arttmpl.js" ></script>
		<script type="text/javascript">
			var isCollect = 1;
			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				var shop_id = self.shop_id;
				if(shop_id) {
						getShopInfo(shop_id);
						getGoodsList(shop_id);
				}
				var loginData = JSON.parse(localStorage.getItem('login'));
				if(!loginData) {
					return;
				}
				var mbi_id = loginData.data.info.mbi_id;

				var collectImg = document.getElementById('collectImg');
				document.getElementById('collect').addEventListener('tap', function() {
					collectGood(mbi_id, shop_id);
					//					if(isCollect){
					//						collectImg.src = "images/img74.png";
					//					}else{
					//						collectImg.src = "images/img81.png";
					//					}
				})

//				document.getElementById('arrange').addEventListener('tap', function() {
//					mui.openWindow({
//						url: 'order_confirm.html',
//						id: 'order_confirm.html',
//						extras: {
//							good_id: good_id
//						}
//					});
//				})
			})

			function getShopInfo(shop_id) {
				var getGoodParam = {
					service: 'Hlbr365app.Goods.GetCompanyInfo',
					jci_id: shop_id
				}
				wAjax(getGoodParam, function(result) {
					var info = result.data.info;
//					document.getElementById('title').innerHTML = info.jci_name;
					document.getElementById('good_img').src = info.jci_logo;
					document.getElementById('good_name').innerHTML = info.jci_name;
					document.getElementById('intro').innerHTML = info.jci_intro;
//					document.getElementById('price').innerHTML = info.jg_price;
//					document.getElementById('start_price').innerHTML = info.jg_price_start;
					isCollect = info.isCollect;

					if(isCollect == 1) {
						collectImg.src = "images/img81.png";
					} else if(isCollect == 2) {
						collectImg.src = "images/img74.png";
					}
					// 实体字符转换
//					var ele = document.createElement('div');
//					ele.innerHTML = info.jg_content;
//					document.getElementById('info').innerHTML = ele.innerText;
				})
			}
			
			function getGoodsList(shop_id) {
				//				var goodsListWithInfo = [];
				var goodsParam = {
					service: 'Hlbr365app.Goods.GetServiceList',
					jci_id: shop_id,
					firstRow: 1,
					listRows: 20
				}
//				if(name != '') {
//					goodsParam.name = name;
//				} else {
//					goodsParam.two_type_id = type_id;
//					goodsParam.city_id = country_id;
//				}
				wAjax(goodsParam, function(result) {
					var goodsList = result.data.list;

					var str = template('temp', {
						'record': goodsList
					});
					document.getElementById("mui-template").innerHTML = str;

				})
			}

			function collectGood(mbi_id, good_id) {
				var action = (isCollect == 1) ? 2 : 1;
				var collectParam = {
					service: 'Hlbr365app.Goods.SetCollect',
					mbi_id: mbi_id,
					jc_type: 1,
					jc_wid: good_id,
					action: action
				};
				wAjax(collectParam, function(result) {
					if(action == 1) {
						collectImg.src = "images/img81.png";
						isCollect = 1;
					} else if(action == 2) {
						collectImg.src = "images/img74.png";
						isCollect = 2;
					}
					//					isCollect = !isCollect;
				})
			}
			
			mui("#mui-template").on('tap', 'a', function(e) {
				var id = this.getAttribute("id");
				var name = this.getAttribute('name');
				if(name == 'isGood') {
					mui.openWindow({
						url: 'ad_info.html',
						id: 'ad_info.html',
						extras: {
							ar_id: id
						} //自定义扩展参数
					});
				} else {
					mui.openWindow({
						url: 'goods_info.html',
						id: 'goods_info.html',
						extras: {
							good_id: id
						} //自定义扩展参数
					});
				}
			});
		</script>
	</body>

</html>
