<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<style>
			.mui-bar {
				background: red;
			}
			
			.mui-title {
				color: white;
			}
			
			.mui-active {
				color: #FF6C00!important;
				border-bottom-color: #FF6C00!important;
			}
			
			.mui-slider-indicator {
				background: white;
			}
			
			img {
				max-width: 200px!important;
				height: 100px!important;
			}
			
			li {
				height: 120px;
			}
			
			.mui-ellipsis {
				line-height: 100px;
			}
			
			.timeImg {
				height: 10px!important;
				width: 10px;
				margin-right: 5px;
			}
			
			.readImg {
				height: 10px!important;
				width: 15px;
				margin-right: 5px;
			}
			
			.nocontent {
				text-align: center;
				padding-top: 1.8rem;
				padding-top: 150px;
			}
			
			.nocontent img {
				width: 100px;
				height: 100px;
			}
		</style>
	</head>

	<body>
		<div class="mui-content">
			<div id="mui-template">
				<script type="text/template" id="temp">
					<div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted mui-segmented-control-positive">
						<% for(var i in record){ var item=record[i]; %>
						<a class="mui-control-item" name="<%=item.at_id%>">
							<%=item.at_name%>
						</a>
						<%}%>
					</div>
				</script>
			</div>

			<ul class="mui-table-view" id="mui-template2">
				<script type="text/template" id="temp2">
					<% for(var i in record){ var item=record[i]; %>
					<li class="mui-table-view-cell mui-media" name="<%=item.ar_id%>">
						<a href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="<%=item.ar_image_thum%>">
							<div class="mui-media-body">
								<%=item.ar_content%>
								<p class='mui-ellipsis'>
									<img src="images/ic_xkk_time.png" class="timeImg" />
									<%=item.ar_time%>&nbsp;&nbsp;&nbsp;&nbsp;
									<img src="images/ic_xkk_look.png" class="readImg" />
									<%=item.ar_reads%>
								</p>
							</div>
						</a>
					</li>
					<%}%>
				</script>
			</ul>
			<div id="no_content" class="mui-hidden">
				<div class="mui-content-padded nocontent">
					<img src="images/normal_no_data.png" />
					<p>暂无内容</p>
				</div>
			</div>
		</div>

		<script src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/arttmpl.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript">
			var types = [];

			mui.plusReady(getTypeList);

			window.addEventListener('toClass', function(event) {
				if(event) {
					for(var i = 0; i < types.length; i++) {
						if(types[i].at_id == event.detail.typeId) {
							var eleArr = document.querySelectorAll(".mui-control-item");
							for(var i = 0; i < eleArr.length; i++) {
								eleArr[i].setAttribute('class', 'mui-control-item');
							}
							var ele = document.getElementsByName(event.detail.typeId)[0];
							ele.setAttribute('class', 'mui-control-item mui-active');
							mui.trigger(ele, 'tap');
						}
					}
				}

			});

			function getTypeList() {
				var data = {
					service: 'Hlbr365app.Article.GetTypeList'
				};
				mui.ajax({
					url: makeurl(data),
					data: {},
					type: 'get', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；
					success: function(data) {
						if(isRequestSuccess(data)) {
							var list = data.data.list;
							if(list && list.length > 0) {
								for(var i = 0; i < list.length; i++) {
									types.push(list[i]);
								}
								var str = template('temp', {
									"record": types
								});
								document.getElementById("mui-template").innerHTML = str;
								document.querySelector('.mui-control-item').setAttribute('class', 'mui-control-item mui-active');
								getArticleList(types[0].at_id);
							}
						}
					},
					error: function(xhr, type, errorThrown) {
						//异常处理；
						console.log(type);
					}
				});

			}

			function getArticleList(id) {
				var data = {
						service: 'Hlbr365app.Article.GetArticleList',
						at_id: id,
						firstRow: 1,
						listRows: 20
					},
					articles = [];
				mui.ajax({
					url: makeurl(data),
					data: {},
					type: 'get', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；
					success: function(data) {
						if(isRequestSuccess(data)) {
							var list = data.data.list;
							if(list && list.length > 0) {
								document.getElementById('no_content').setAttribute('class', 'mui-hidden');
								for(var i = 0; i < list.length; i++) {
									list[i].ar_time = new Date(1000 * list[i].ar_time).toLocaleDateString();
									articles.push(list[i]);
								}
								var ele = document.createElement('div');
								for(var i = 0; i < articles.length; i++) {
									ele.innerHTML = articles[i].ar_content;
									articles[i].ar_content = ele.innerText;
								}
								template.config('escape', false);
								var str = template('temp2', {
									"record": articles
								});

								document.getElementById("mui-template2").innerHTML = str;

							} else {
								document.getElementById('no_content').setAttribute('class', '');
							}
						}
					},
					error: function(xhr, type, errorThrown) {
						//异常处理；
						console.log(type);
					}
				});

			}

			mui(".mui-content").on('tap', 'li', function(e) {
				var id = this.getAttribute("name");
				mui.openWindow({
					url: 'article_info.html',
					id: 'article_info',
					extras: {
						ar_id: id
					},
					show: {
						autoShow: false, //页面loaded事件发生后自动显示，默认为true
						event: 'loaded' //页面显示时机，默认为titleUpdate事件时显示
					},
					waiting: {
						autoShow: true //自动显示等待框，默认为true
					}
				});
			});

			mui(".mui-content").on('tap', '.mui-control-item', function(e) {
				document.getElementById("mui-template2").innerHTML = '';
				var id = this.getAttribute("name");
				getArticleList(id);
			});
		</script>
	</body>

</html>